<nav class="navbar navbar-light bg-light">

  <%= link_to t('nav.appname'), admin_tests_path, class: 'navbar-brand' %>
  <span class="navbar-text">
    <b><%= current_user.email %></b> Guru |
    <%= link_to t('nav.logout'), destroy_user_session_path, method: :delete %>
  </span>
</nav>


