<div class="card mt-3" style="width: 18rem;">
  <img src="<%= badge.url %>" class="card-img-top" alt="<%= badge.title %>">
  <div class="card-body">
    <p class="card-text"><%= badge.title %></p>
  </div>
</div>