<h1>The <%= @test_passage.test.title %> Test was Completed!</h1>
<p>
  Your success rate:
  <% if @test_passage.success? %>
    <span class="pass"><%= @test_passage.success_percent %>% Success!</span>
  <% else %>
    <span class="fail"><%= @test_passage.success_percent %>% Test failed</span>
  <% end %>
</p>

