<div class="row justify-content-center mt-3" >
  <div class="col col-md-6">

    <div class="card border-primary">
      <div class="card-body">

        <h5 class="card-title">The <%= @test_passage.test.title %> Test was Completed!</h5>
        <p>
          Your success rate:
          <% if @test_passage.success? %>
            <div class="alert alert-success" role="alert">
              <%= @test_passage.success_percent %>% Test Success!
            </div>
        <% else %>
            <div class="alert alert-danger" role="alert">
              <%= @test_passage.success_percent %>% Test failed
            </div>
          <% end %>
        </p>

      </div>
    </div>

  </div>
</div>
