<nav class="navbar navbar-light bg-light">
  <%= link_to 'All tests', tests_path %>
</nav>

<%= current_year %>,
Author <u>Nik Grebnev</u>,
<%= github_url("nikgrebnev","test-guru") %>
project is a part of
<%= link_to "Thinknetica", "https://thinknetica.com", target: :blank %>
 course.
